*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
   height: 80px;
   width: 100%;
   background-color: white;
   border: 2px solid black;
  display:flex;
  justify-content: space-between;

}
.nav1{
    width:60%;
    background-color: blue;
  
}
.nav ul{
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-top:20px;
    padding-bottom:20px;
}
.nav li{
    list-style: none;
    
}
.logo{
    height: 20%;
    width: 20%;
    background-color:black;
    
}
.logo img{
    height: 30px;
    width: 40px;
}
.pp{
    height: 20%;
    width: 20%;
    background-color: hotpink;
}
.profile{
    height: 30px;
    width:40px;
}
